/* Jumbotron*/
.mybanner {
    color: white;
    background-size: cover;
    background-image: url('../images/jumbotron.jpg');

    &::before {
        content: "";
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background-color: rgba(0,0,0,0.25);
    }
}

/* Body background color and font */
body {
    background-color: darkslategrey;
    font-family:Arial, Helvetica, sans-serif;
}
